<li>
	
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %> 
<br>
<span>
  
  <%= pluralize(user.microposts.count, "review") %>

<div class="asdf">
  <div class="stats">
    <strong id="following" class="stat">
      <%= user.followed_users.count %> following
    </strong>
    
  </a>
    <strong id="followers" class="stat">
      <%= user.followers.count %> followers
    </strong>
    
  </a>
	</div>
</div>



</span>

</li>
