
  <% if feed_item1.category_id == @category.id %>
    
  <li id="<%= feed_item1.id %>">
  <%= link_to gravatar_for(feed_item1.user), feed_item1.user %>
    <span class="user">
      <%= link_to feed_item1.user.name, feed_item1.user %> 
      
    </span>
    <span class="content"><%= feed_item1.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item1.created_at) %> ago.
    </span>
  <% if current_user?(feed_item1.user) %>
    <%= link_to "delete", feed_item1, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item1.content %>
  <% end %>
</li>
  <% end %>
