<%= form_for(@micropost1 ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Review this product..." %> 
    <%= f.hidden_field :category_id, :value => @category.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>