<% provide(:title, 'Create New Product') %>
<h1>Create New Product</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@category) do |f| %>
      <%= render 'shared/error_messages' , object: f.object %>	
      <%= f.label :category_id %>
      <%= f.text_field :category_id %>

      <%= f.label :product_id %>
      <%= f.text_field :product_id %> 

      <%= f.label :productname %>
      <%= f.text_field :productname %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.submit "Create New Product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div> 